#drawing {
    width: 100%;
    height: 100%;
    cursor: default;
}

#points circle {
  fill: var(--text-color);
  stroke: var(--accent-color);
  stroke-width: 3;
  vector-effect: non-scaling-stroke;
}

#points circle.given.selected {
  stroke: var(--select-color);
  fill: black;
}

#points circle.selected {
  stroke: var(--select-color);
  fill: black;
}

#points circle.given {
    fill: #6F6;
}
#points circle:hover,
#points circle.hover {
    fill: var(--select-color);
}

#elements line {
  fill: none;
  stroke: #999;
  stroke-width: 2;
  vector-effect: non-scaling-stroke;
}

#elements circle {
  fill: none;
  stroke: #C09;
  stroke-width: 2;
  vector-effect: non-scaling-stroke;
}

#elements line:hover, #elements line.hover,
#elements circle:hover, #elements circle.hover {
  stroke: var(--select-color);
  stroke-opacity: 1;
}

#elements line.golden {
  stroke: gold;
}

#elements circle.golden {
  stroke: gold;
}

#graphics polyline {
  stroke: #36c9;
  fill: none;
  stroke-width: 8;
  vector-effect: non-scaling-stroke;
}

#graphics polygon {
  stroke: #36c9;
  fill: #36c3;
  stroke-width: 8;
  vector-effect: non-scaling-stroke;
  marker-start: url(#marker);
  marker-mid: url(#marker);
  marker-end: url(#marker);
}

#graphics polyline.section {
  stroke: rgba(51, 102, 204, 0.1);
  marker-start: url(#marker);
  marker-mid: url(#marker);
  marker-end: url(#marker);
}

#graphics polyline.section.golden {
    stroke: rgba(255, 215, 0, 0.1);
}

#graphics polygon:hover,
#graphics polyline:hover,
#graphics polyline.section:hover {
  stroke: #36c9;
  stroke-opacity: 1;
}

#graphics polyline.section.golden.hover,
#graphics polyline.section.golden:hover {
  stroke-opacity: 1;
  stroke: gold;
}

#highlights .highlight-segment {
  stroke: var(--select-color);
  fill: none;
  stroke-width: 8;
  vector-effect: non-scaling-stroke;
  marker-start: url(#marker);
  marker-end: url(#marker);
}

.guide {
    stroke: #f0f;
    stroke-dasharray: 5,5;
}

#points circle.guide {
    fill: #f0f;
}